/**
 * @name otter
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Renogare+Soft:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: transparent;
  --backgroundColor: #000000;
  --backgroundSize: cover;
  --backgroundPosition: top center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 100px;
  --backgroundOpacity: 0.65;
  --homeImage: url('https://imgur.com/eItxuAq.png');
  --homeImageSize: 100%;
  --themeColor1: #3F51B5;
  --themeColor2: #009688;
  --customFont: Renogare Soft;
  --backgroundCode: rgba(0 0 0 /.5);
  --backgroundName: rgba(0 0 0 /.5);
}

/* Any custom CSS below here */


